body
{
    backface-visibility: visible;
    background-image: url(jeny.png);  
    background-repeat: repeat;  
    background-size: 50%;    
    border:15px ridge opacity=" 0%";
    height: 500px;
    width: 40%;
    margin-left: 450px;
    margin-top: 150px;
    align-items: center;
    text-align: center;
    font-family: tahoma;
    font-size: 18px;
    line-height: 1.5;
}
.hi
{
   
    margin: auto;
    width: 50%;
    color:rgba(96, 96, 124, 0.959);
    text-shadow: #f0eded;
 
}
h1, p{
    margin: lem auto;
    text-align: center;
    align-items: center;
}
label 
{
    margin: 0.sem 0;
    font-size: 1.125rem
    display; 
}

input,
textarea
select{
    margin: 10px 0 20px 0;
    width: 90%;
    min-height: 2em;
    padding: 10px;
    border-radius: 10px;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
}    
.input-radio{
    width: 50px;
    align-items: stretch;
}
.image img
{
    width: 100%;
    max-width: 500px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

#hi{
    opacity: 0;
}

.centered{
    text-align: center;
}

.images1{
    position: relative;
    left: -20px;
  }
  
  .images1 {
    position: relative;
    left: 20px;
  }